---
---
$size: 60px;

table {
  border-collapse:collapse;
  table-layout: fixed;
  td {
    font-size: 20px;
  }
}

.row-header {
  width: 150px;
  text-align:right;
  padding-right: 10px;

}
.square {
  border: lightgray solid 1px;
  height: $size;
  width: $size;
  overflow: hidden;
  text-align:center;
  vertical-align:middle;}

th {
  white-space: nowrap;
  transform:
    rotate(-90deg);
  height: 100px;
  width: $size;
  overflow: hidden;
  word-wrap:break-word;
  text-align:center;
  vertical-align:middle;
}

.dark {
  background-color: lightgray;
}
