<html>
  <head>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>
    <script src='js/app.js'></script>
    <script src='js/data.js'></script>
    <title>X</title>
  </head>
  <body ng-app='Championship'>
    <div ng-controller='ChampionshipCtrl'>
      <table>
        <tr>
          <td>x</td>
          <td ng-repeat='player in input.players'>{{ player }}</td>
        </tr>
        <tr ng-repeat='playerA in input.players'>
          <td>{{ playerA }}</td>
          <td ng-repeat='playerB in input.players'>{{input.matrix[playerA][playerB]}}</td>
        </tr>
      </table>
      <pre>{{ input | json }}</pre>
    </div>
  </body>
</html>
